<section class="heading-section">
  <h1 class="title is-1 has-text-centered">Todos</h1>
</section>

<div class="container add-todo-box-container">
  <div class="add-todo-box">
    <form>
      <h2 class="title is-5">New Todo</h2>

      <div class="field is-grouped" style="margin: 0">
        <p class="control is-expanded inputDiv" style="margin: 0">
          <input
            [formControl]="todoName"
            required
            name="text"
            class="input"
            type="text"
            placeholder="Type todo text here ..."
          />
        </p>
        <p class="control">
          <button
            type="submit"
            class="button alt-gradient-button"
            (click)="onFormSubmit()"
            [disabled]="form.invalid"
          >
            <i class="material-icons">add</i>
            Add
          </button>
        </p>
      </div>

      <div *ngIf="todoName.invalid && todoName.touched" class="showError">
        <p class="help is-danger" *ngIf="todoName.hasError('required')">
          Please enter the text of your todo
        </p>
      </div>
    </form>
  </div>
</div>

<div class="showLoader" *ngIf="isLoading">
  <span class="bulma-loader-mixin" style="margin-left: 5px"></span>
</div>
<section class="section" *ngIf="hideContent">
  <div class="container">
    <div class="todos-list">
      <app-todo-item
        *ngFor="let todo of todos"
        [todo]="todo"
        (todoClicked)="toggleCompleted(todo)"
        (editClicked)="editTodo(todo)"
        (deleteClicked)="deleteTodo(todo)"
      ></app-todo-item>
    </div>
  </div>
</section>
